## Loading data into Pandas

In [8]:
import pandas as pd 
df = pd.read_csv("pokemon_data.csv")

## Reading data in Pandas

In [10]:
#Read Header
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
#Read each column
df.Name  #All values in 'Name' column
df.Name[:4] #First five values in 'Name' column
df['HP'] #All values in 'HP' column
df[['Name','Type 1','HP']] #Showing these three columns with values

        Name Type 1  HP
0  Bulbasaur  Grass  45
1    Ivysaur  Grass  60
2   Venusaur  Grass  80

In [22]:
#Read each row
df.head(3) #Showing first 3 rows 
#iloc standers for Integer location
df.iloc[1] #It show the first rows [header row]
#Read a specific location using iloc[row,column]
#Q:Find this value 'Bulbasaur' using iloc concept 
df.iloc[0,1]

'Bulbasaur'

In [24]:
#loc is use for finding specific data in our data set
df.loc[df['Type 1']=='Fire'][:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False

## Sorting / Describing data

In [29]:
#Describing data 
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [31]:
#Sorting a specfic column 
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [33]:
df.sort_values('Name',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [34]:
#We can sort multiple column at a time 
df.sort_values(['Type 1','HP'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

In [35]:
df.sort_values(['Type 1','HP'],ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [36]:
#We can sort multiple column in ascending and descending order
df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making changes to the data

In [41]:
#if we want to make changes in horizontally then we need to use 'axis=1'
#if vertically we need to use 'axis=0'
#Making a new column which returns total 
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']+df['Generation']
#Another way
df['Total'] = df.iloc[:,4:10].sum(axis=1)

In [42]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [39]:
# dropping a column
df = df.drop(columns=['Total'])

In [40]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Saving our Data(Exporting into Desired Format)

In [47]:
#index=False meaning not showing default indexing value
#Saving file in the csv formate
df.to_csv('CSV.csv',index=False)
#excel formate
df.to_excel('Excel.xlsx',index=False)
#text formate
df.to_csv('Text.txt',index=False,sep='\t')
#sep='\t' means separate by tab

## Filtering Data

In [62]:
df.loc[(df['Type 1']=='Grass')&(df['Type 2']=='Poison')&(df['HP']>75)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [67]:
#if we want to remove unordered default indexing and save
new_df = df.loc[(df['Type 1']=='Grass')&(df['Type 2']=='Poison')&(df['HP']>75)]
#new_df = new_df.reset_index() #it makes an ordered indexing but also showing
# the default ordered column.To remove this we need to use 'drop=True'
#new_df = new_df.reset_index(drop=True)
#if we don't want to have to reset it to a new dataframe we need to use
#'inplace=True' So
new_df.reset_index(drop=True,inplace=True)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
2,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
3,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [71]:
#Find a value which contain 'Mega' inside 'Name' column
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700

In [72]:
#if we want to do the opposite operation 
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [76]:
#Q:Find all values in 'Type 1' column where it contains either 'Fire' or 'Grass'
df.loc[df['Type 1'].str.contains('Fire|Grass')]
#If we want to ignore the case sensitivity 
import re
df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [90]:
#Q:Find those names which is start at 'Pi' and contains any letter and then 
#contains zero or more letter
kdf = df.loc[df['Name'].str.contains('^Pi[a-z]*',flags=re.I)]
kdf.reset_index(drop=True,inplace=True)
kdf

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
1,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
2,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
3,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
4,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
5,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
6,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
7,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
8,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
9,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
10,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
11,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
12,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

## Conditional Changes

In [96]:
#replace column values
df.head()
#Q:Replace 'Type 1' column 'Grass' to 'Something'
df.loc[df['Type 1']=='Grass','Type 1'] = 'Something'
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Something,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Something,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Something,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Something,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [98]:
#Q:If 'Type 2' column is 'Poison' then change 'Legendary' column = True
df.loc[df['Type 2']=='Poison','Legendary'] = True
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Something,Poison,45,49,49,65,65,45,1,True,318
1,2,Ivysaur,Something,Poison,60,62,63,80,80,60,1,True,405
2,3,Venusaur,Something,Poison,80,82,83,100,100,80,1,True,525
3,3,VenusaurMega Venusaur,Something,Poison,80,100,123,122,120,80,1,True,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [99]:
#We can also change multiple column values 
df.loc[df['HP']>=45,['Generation','Legendary']] = 'Test Value'
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Something,Poison,45,49,49,65,65,45,Test Value,Test Value,318
1,2,Ivysaur,Something,Poison,60,62,63,80,80,60,Test Value,Test Value,405
2,3,Venusaur,Something,Poison,80,82,83,100,100,80,Test Value,Test Value,525
3,3,VenusaurMega Venusaur,Something,Poison,80,100,123,122,120,80,Test Value,Test Value,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [100]:
#we can also changes multiple column value differently 
df.loc[df['HP']>=45,['Generation','Legendary']] = ['Test 1','Test 2']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Something,Poison,45,49,49,65,65,45,Test 1,Test 2,318
1,2,Ivysaur,Something,Poison,60,62,63,80,80,60,Test 1,Test 2,405
2,3,Venusaur,Something,Poison,80,82,83,100,100,80,Test 1,Test 2,525
3,3,VenusaurMega Venusaur,Something,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

## Aggregate Statistics (Groupby)

In [104]:
df = pd.read_csv('CSV.csv')
df.head()
df.groupby('Type 1').sum().sort_values('Defense',ascending=False)
#like sum() we can also find mean(),count()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Water,33946,8071,8305,8170,8379,7898,7388,320,4,48211
Normal,31279,7573,7200,5865,5470,6245,7012,299,2,39365
Grass,24141,4709,5125,4956,5425,4930,4335,235,3,29480
Bug,23080,3925,4897,4880,3717,4471,4256,222,0,26146
Rock,17280,2876,4086,4435,2787,3321,2460,152,4,19965
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14,27129
Fire,17025,3635,4408,3524,4627,3755,3871,167,5,23820
Steel,11957,1761,2503,3412,1823,2177,1492,104,4,13168
Electric,15994,2631,3040,2917,3961,3243,3718,144,4,19510
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12,17617
Ground,11401,2361,3064,2715,1807,2008,2045,101,4,14000
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2,14066
Dark,14302,2071,2740,2177,2314,2155,2361,125,2,13818
Poison,7050,1883,2091,1927,1692,1803,1780,71,0,11176
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0,11244
Ice,10165,1728,1746,1714,1861,1831,1523,85,2,10403
Fairy,7642,1260,1046,1117,1335,1440,826,70,1,7024
Flying,2711,283,315,265,377,290,410,22,2,1940

In [108]:
#We can use multiple columns in groupby clause
df['count'] = 1
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64